<div class="container-fluid">
    <br/>

    <div *ngIf="cliente.cuentas.length===0">Cliente no tiene cuentas por el momento</div>
    <h4 *ngIf="cliente.cuentas.length>0">Lista de cuentas del cliente</h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col" class="col-md-6">Número</th>
                <th scope="col" class="col-md-2">Saldo</th>
                <th scope="col" class="col-md-4">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cuenta of cliente.cuentas; let i = index">
                <tr>

                    <td *ngIf="cuenta.id>0">{{cuenta.numero}}</td>
                    <td *ngIf="cuenta.id===0"><input type="text" [(ngModel)]="cliente.cuentas[i].numero"></td>
                    <td *ngIf="cuenta.id>0">{{cuenta.saldo}}</td>
                    <td *ngIf="cuenta.id===0"></td>
                    <td *ngIf="cuenta.id>0">
                        <button class="btn btn-danger" (click)="deleteCuenta(cuenta.id)">Eliminar</button>
                        <button class="btn btn-info" (click)="movCuenta(cuenta.id)">Movimientos</button>
                    </td>
                    <td *ngIf="cuenta.id===0">
                        <button class="btn btn-primary" (click)="saveCuenta()">Guardar</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <!--
    <cuenta></cuenta>
    -->
    <br/>
    <a class="btn btn-primary" (click)="addCuenta()">Agregar Cuenta</a>
</div>